@font-face {
    font-family: "BebasNeue";
    src: url('../fonts/BebasNeue-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RobotoCondensed";
    src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    --primary-color: #fa6a6a;
    --secondary-color: #217e0e;
    --background-color: #2e2e2e;
    --text-color: #333;
    --primary-font: 'BebasNeue', sans-serif;
    --secondary-font: 'RobotoCondensed', sans-serif;
    
}

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    color: #1b2e11;
}


body {
    line-height: 1.6;
    background-color: #2e2e2e;
    color: #ffffff;
}



img,
svg,
video {
    max-width: 100%;
    height: auto;
}

header main,
section,
.container {
    max-width: 100vw;
    /* nunca más ancho que la pantalla */
    overflow-x: hidden;
}

a {
    color: rgb(255, 255, 255);
}

/* Estilos para el nav */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1a1f1a00;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease;
}

/* Estilos al hacer scroll */
.nav-container.scrolled {
    background-color: #1a1f1a;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.nav-links {
    display: flex;
    gap: 25px;
    font-family: 'BebasNeue', sans-serif;
    font-size: 1.5rem;


    & li a {
        color: #ffffff;
        transition: color 0.3s ease;

        &:hover {
            color: var(--secondary-color);
        }
    }
}

/* Estilos para responsive navbar */
.toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    color: white;
    font-size: 24px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #1a1f1a;
        position: absolute;
        top: 80px;
        right: 20px;
        padding: 10px;
        border-radius: 8px;
        
    }

    .toggle-btn {
        display: block;
        
    }

    .nav-links.active {
        display: flex;
        font-family: 'BebasNeue', sans-serif;
    }
}

/* Logo estilos */
.logo {
    font-weight: bold;
    color: #ffffff;
    font-family: 'BebasNeue', sans-serif;
    letter-spacing: 0.4rem;
    font-size: 1.9rem;

    span {
        color: #217510;
    }
}


/* Imagen y estilos flex para section hero  */
.hero {
    background-image: url(../assets/images/flag-hero.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*fondo arriba de la imagen para opacarla */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    z-index: 0;
}

/* Titulo y boton en section hero */
.title-hero {
    font-family: 'BebasNeue', sans-serif;
    font-size: 3rem;
    color: #ffffff;
    z-index: 1;
    letter-spacing: 1.2rem;
}

.title-span {
    color: var(--secondary-color);
}

.button-hero {
    position: relative;
    top: 200px;
    padding: 10px 70px;
    font-size: 1.8rem;
    color: #ffffff;
    background: linear-gradient(365deg, #37aa1dad 0%, #404240 97%, #3F443E 100%);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 1;
    font-family: 'BebasNeue', sans-serif;
    letter-spacing: 0.2rem;

    &:hover {
        background: linear-gradient(365deg, #217510 0%, #404240 97%, #3F443E 100%);
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.9);
    }
}

@media (max-width: 768px) {
    .title-hero {
        font-size: 2.2rem;
        letter-spacing: 0.8rem;
    }

    .button-hero {
        top: 150px;
        padding: 8px 50px;
        font-size: 1.5rem;
    }
}

/* Estilos para la wave de abajo del hero  (separador)*/
.wave-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    transform: rotate(180deg);
    background-color: #1a1f1a;
    
}


main{
    background-color: #1a1f1a;
}

.egresados-container {
    padding: 80px 20px;
    display: grid;
}

.egresados-container h2  {
    text-align: center;
    font-family: 'BebasNeue', sans-serif;
    font-size: 3.5rem;
    color: #ffffff;
}


